[package]
name = "ff2mpv-rust"
version = "1.0.0"
edition = "2021"

[dependencies]
serde = { version = "1.0.152", features = ["derive"] }
serde_json = "1.0.93"

[profile.release-full]
inherits = "release"
strip = "symbols"
lto = "fat"
