[package]
name = "ff2mpv-rust"
version = "1.1.2"
edition = "2021"

[dependencies]
serde = { version = "1.0.*", features = ["derive"] }
serde_json = { version = "1.0.*", features = ["preserve_order"] }

[profile.dev-optimized]
inherits = "dev"
opt-level = 3

[profile.release]
strip = "symbols"
lto = "fat"
panic = "abort"
codegen-units = 1
